[project]
	description = Meetup project with phonegap
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gustavo Maloste (gustavompo)
[access "refs/for/refs/*"]
	read = group user/Gustavo Maloste (gustavompo)
	push = group user/Gustavo Maloste (gustavompo)
	label-Code-Review = -2..+2 group user/Gustavo Maloste (gustavompo)
	label-Verified = -1..+1 group user/Gustavo Maloste (gustavompo)
	rebase = group user/Gustavo Maloste (gustavompo)
	removeReviewer = group user/Gustavo Maloste (gustavompo)
	submit = group user/Gustavo Maloste (gustavompo)
[access "refs/heads/*"]
	read = group user/Gustavo Maloste (gustavompo)
	create = group user/Gustavo Maloste (gustavompo)
	push = +force group user/Gustavo Maloste (gustavompo)
	pushMerge = group user/Gustavo Maloste (gustavompo)
[access "refs/tags/*"]
	push = +force group user/Gustavo Maloste (gustavompo)
	pushTag = group user/Gustavo Maloste (gustavompo)
	pushSignedTag = group user/Gustavo Maloste (gustavompo)
